@use 'sass:map';
@use './common/root';
@use './common/mixins' as *;
@use './common/var' as *;
@use './common/function' as *;


// 循环生成 button 组件的 css 变量
// getCssVar('button', 'text-color') => var(--el-button-text-color)
$button: () !default;
$button: map.merge(
  (
    'font-weight': getCssVar('font-weight-primary'),
    'border-color': getCssVar('border-color'),
    'bg-color': getCssVar('fill-color', 'blank'),
    'text-color': getCssVar('text-color-regular'),
    'disabled-text-color': getCssVar('disabled-text-color'),
    'disabled-bg-color': getCssVar('fill-color', 'blank'),
    'disabled-border-color': getCssVar('border-color-light'),
    'hover-text-color': getCssVar('text-color-hover'),
    'hover-bg-color': getCssVar('bg-color'),
    'hover-border-color': getCssVar('border-color-hover'),
    'active-text-color': getCssVar('text-color-active'),
    'active-bg-color': getCssVar('bg-color'),
    'active-border-color': getCssVar('border-color-active')
  ),
  $button
);
// 初始化按钮样式
@include b(button) {
  @include set-component-css-var('button', $button);
}

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  line-height: 1;
  // height: map.get($input-height, 'default');
  white-space: nowrap;
  cursor: pointer;
  color: getCssVar('button', 'text-color');
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: getCssVar('button', 'font-weight');
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: getCssVar('button', 'bg-color');
  border: getCssVar('border');
  border-color: getCssVar('button', 'border-color');


  &:hover,
  &:focus {
    color: getCssVar('button', 'hover', 'text-color');
    border-color: getCssVar('button', 'hover', 'border-color');
    background-color: getCssVar('button', 'hover', 'bg-color');
    outline: none;
  }

  &:active {
    color: getCssVar('button', 'active', 'text-color');
    border-color: getCssVar('button', 'active', 'border-color');
    background-color: getCssVar('button', 'active', 'bg-color');
    outline: none;
  }

  @include button-size(
    map.get($button-padding-vertical, 'default'),
    map.get($button-padding-horizontal, 'default'),
    map.get($button-font-size, 'default'),
    map.get($button-border-radius, 'default')
  );

  @each $type in (primary, success, warning, danger, info) {
    @include m($type) {
      @include button-variant($type);
    }
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: getCssVar('button','disabled', 'text-color');
      cursor: not-allowed;
      background-image: none;
      background-color: getCssVar('button','disabled', 'bg-color');
      border-color: getCssVar('button','disabled', 'border-color');
    }
  }
}

.es-button.is-disabled.es-button--info{
  color: $color-black;
  --es-button-active-text-color: $color-black;
  &,
  &:hover,
  &:focus {
    color: rgba(0,0,0,0.26);
  }
}
