@keyframes dotCarousel {
  0% {
    box-shadow: 9984px 0 0 -1px #ff6600, 10014px 0 0 1px #ff6600, 10044px 0 0 -1px #ff6600
  }

  50% {
    box-shadow: 10044px 0 0 -1px #ff6600, 9984px 0 0 -1px #ff6600, 10014px 0 0 1px #ff6600
  }

  100% {
    box-shadow: 10014px 0 0 1px #ff6600, 10044px 0 0 -1px #ff6600, 9984px 0 0 -1px #ff6600
  }
}

.ui-pageLoading {
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;

  i {
    position: relative;
    left: -9984px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff6600;
    color: #ff6600;
    box-shadow: 9984px 0 0 0 #ff6600, 10014px 0 0 0 #ff6600, 10044px 0 0 0 #ff6600;
    -webkit-box-shadow: 9984px 0 0 0 #ff6600, 10014px 0 0 0 #ff6600, 10044px 0 0 0 #ff6600;
    animation: dotCarousel 1s infinite linear;
  }

  span {
    padding-left: 6px;
  }
}
