.ui-showLoading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ui-showLoading-cont {
  width: 200px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    padding-top: 15px;
  }
}


.ui-showLoading-icon {
  width: .8px;
  height: .8px;
  position: relative;

  span {
    width: 7.5%;
    height: 20%;
    background: #fff;
    position: absolute;
    display: block;
    left: 49%;
    top: 43%;
    opacity: 0;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    animation: fade 1s linear infinite;
  }
}

@keyframes fade {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0.25
  }
}

.ui-showLoading-icon span.bar1 {
  transform: rotate(0deg) translate(0, -130%);
  animation-delay: 0s;
}

.ui-showLoading-icon span.bar2 {
  transform: rotate(30deg) translate(0, -130%);
  animation-delay: -0.9167s;
}

.ui-showLoading-icon span.bar3 {
  transform: rotate(60deg) translate(0, -130%);
  animation-delay: -0.833s;
}

.ui-showLoading-icon span.bar4 {
  transform: rotate(90deg) translate(0, -130%);
  animation-delay: -0.7497s;
}

.ui-showLoading-icon span.bar5 {
  transform: rotate(120deg) translate(0, -130%);
  animation-delay: -0.667s;
}

.ui-showLoading-icon span.bar6 {
  transform: rotate(150deg) translate(0, -130%);
  animation-delay: -0.5837s;
}

.ui-showLoading-icon span.bar7 {
  transform: rotate(180deg) translate(0, -130%);
  animation-delay: -0.5s;
}

.ui-showLoading-icon span.bar8 {
  transform: rotate(210deg) translate(0, -130%);
  animation-delay: -0.4167s;
}

.ui-showLoading-icon span.bar9 {
  transform: rotate(240deg) translate(0, -130%);
  animation-delay: -0.333s;
}

.ui-showLoading-icon span.bar10 {
  transform: rotate(270deg) translate(0, -130%);
  animation-delay: -0.2497s;
}

.ui-showLoading-icon span.bar11 {
  transform: rotate(300deg) translate(0, -130%);
  animation-delay: -0.167s;
}

.ui-showLoading-icon span.bar12 {
  transform: rotate(330deg) translate(0, -130%);
  animation-delay: -0.0833s;
}
